<h3>Rubai</h3>

<h4>Вывод из файла:</h4>

<p>Work in field</p>
<p>
    @str;
</p>

<button class="btn btn-primary" @onclick="Refresh">Refresh field</button>

@code {
    string str = "This is text.";
    private void Refresh()
    {
        str = "This is NEW text!";
    }
}
