@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<header>
    <div class="container">
        <div class="row">
            <div class="khayamImg text-center col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img class="img-fluid" src="~/images/Khayyam.png" alt="" />
            </div>
            <div class="quote col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pt-2">
                <a href="https://ru.wikipedia.org/wiki/Омар_Хайям" target="_blank"><span><i>Ома́р Хайя́м Нишапури́</i></span></a>
                <span><i>(перс. عُمَر خَیّام نیشابوری‎; 18 мая 1048, Нишапур — 4 декабря 1131, там же) персидский философ, математик, астроном и поэт.</i></span>
                <h4 class="text-start pt-3 pb-3">
                    Если я согрешил - то не сам по себе,<br />
                    Путь земной совершил я не сам по себе,<br />
                    Где я был? Кто я был? Жил впотьмах, исполняя<br />
                    Все, что Он предрешил, а не сам по себе.<br />
                </h4>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="selection col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" class="btn btn-success btn-select">Ваш случайный выбор</button>
                <div class="rubai col-12 rounded-3">
                    <h3>
                        Мы цель созданья, смысл его отменный.<br />
                        Взор Божества и сущность зрящих глаз.<br />
                        Окружность мира - перстень драгоценный,<br />
                        А мы в том мире - вправленный алмаз.
                    </h3>
                </div>
            </div>
        </div>
    </div>

</main>

