@page
@using RubaiWeb.Pages.Shared
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<component type="typeof(Rubai)" render-mode="ServerPrerendered" />


